html{
  scroll-behavior: smooth;
}
.slider-width {
  width: 600px;
  
}
ul{
  list-style-type:square;
  color:rgb(3, 2, 2);
}
a{
  color:rgb(126, 14, 2);
  text-decoration: underline;
}
.center{
  margin:auto;
  padding:10px;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center{
  text-align:center;
}
#langMatch{
  display:none;
}
.shrink{
  width:300px;
  height:auto;
}
.floatr{
  float: right;
}
.card{
  margin:5px;
  padding:10px;
  background-color:rgba(90, 180, 110, 0.822);
  box-sizing: border-box;
}
#sidebar{
  background-color:rgba(90, 180, 110, 0.973);
  position:fixed;
}
.jumbotron{
  background-color: rgba(90, 180, 110, 0.973);
  text-align: center;
  padding-bottom:20px;
  padding-top: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}
img {
  border-style: solid;
  border-color: black;
}
body{
  background-image: url("https://ze-robot.com/images/source/28512.jpg");
  background-color: #cccccc;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
  background-color: rgba(0, 36, 0, 0.788);
  color:white;
}
#langName{
  background-color: rgb(78, 6, 6);
  font-style: italic;
}
#python{
  display:none;
}
#ruby{
  display:none;
}
#cSharp{
  display:none;
}
#go{
  display:none;
}
#swift{
  display:none;
}
#java{
  display:none;
}
#rust{
  display:none;
}
h6{
  width:fit-content;
  text-decoration: underline;
  font-size: 20px;
}