.slider-width {
  width: 650px;
  align-items: center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
#langMatch{
  display:none;
}
.shrink{
  width:300px;
  height:auto;
}
.floatr{
  float: right;
}
.card{
  margin:5px;
  padding:10px;
  background-color:rgba(90, 180, 110, 0.822);
}
.jumbotron{
  background-color: rgb(65, 82, 49);
  text-align: center;
}
img {
  border-style: solid;
  border-color: black;
}
body{
  background-image: url("https://ze-robot.com/images/source/28512.jpg");
  background-color: #cccccc;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
  background-color: rgba(0, 36, 0, 0.788);
  color:white;
}
#langName{
  background-color: rgb(78, 6, 6);
  font-style: italic;
}
#python{
  display:none;
}
#ruby{
  display:none;
}
#cSharp{
  display:none;
}
#go{
  display:none;
}
#swift{
  display:none;
}
#java{
  display:none;
}